#news_content{
    display: grid;
    text-align: justify;
    overflow-y: scroll;
}

#news_content > p{
    padding: 0.5em 0;
}

#news_to_menu_btn{
    height: 50px;
    display: grid;
    place-content: center;
}

#news_to_menu_btn > *{
    padding: 10px 15px;
    place-self: center;
    border-radius: 15px;
    border: 1.5px solid grey;
}

#news_to_menu_btn > *:hover{
    box-shadow: 0 0 3px 2px grey;
}

