#profile_content{
    display: grid;
    grid-template: 52.5% 25% 22.5% / 100%;
}

.profile_section_container{
    display: grid;
    align-items: center;
    grid-auto-rows: minmax(0, 1fr);
    grid-auto-flow: row;
}

.profile_section_container:nth-child(-n+2){
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.300);
}

.profile_input_bar{
    display: grid;
    grid-template: 100% / 80% 20%;
}

.valueDisplay{
    text-align: center;
    outline: none;
    color: rgba(0, 0, 0, 0.300);
}

.valueDisplay:hover{
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.300);
}