.unselectable
{
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
  
/* webkit style*/
::-webkit-scrollbar
{
    display: none;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}